.debit{
    position: absolute;
    left: 70px;
    bottom: 750px;
}

.credit{
    position: absolute;
    left: 70px;
    bottom: 720px;
}

.account{
    position: absolute;
    left: 70px;
    bottom: 690px;
}

.HomeButton
{
position: absolute;
right: 70px;
font-size: xx-large;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-family: sans; color: rgb(255, 0, 0);
}

.Linkclass
{
top: 70px;
right: 70px;
position: absolute;
font-size: xx-large;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-family: sans; color: rgb(255, 0, 0);
}